#!include:.gitignore
.git/
.env
.env.*
.gcloudignore
.playwright-cli/
output/
**/__pycache__/
node_modules/
/data/
scripts/codewiz-dev/
/logs/
/uploads/
/images/
/meili_data*/
/data-node/
!packages/api/tsconfig.json
!packages/api/src/types/*.d.ts
!packages/api/types/*.d.ts
!packages/data-schemas/src/types/*.d.ts
